.App {
  text-align: center;
  font-family: 'Gudea',Arial,Helvetica,Verdana,sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-body {
  margin: 5%;
}

.navbar {
  background-color: #d73f09;
  padding: 20px 5%;
  display: block;
  font-family: 'Gudea',Arial,Helvetica,Verdana,sans-serif;
}

.navbar a {
  margin-right: 2%;
  font-size: large;
  color: black;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  text-align: center;
}

.right {
  text-align: right;
}

.centered {
  text-align: center;
}